body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#searchbox {
    position: absolute;
    top: 5%;
    left: 3%;
}

.type-btn {
    width: 70px;
    margin: 0px;
}

.btn,
.btn-default.active {
    text-shadow: none;
    border: 0 none;
    border-radius: 0;
    outline: 0 none;
    box-shadow: none;
    background-color: #fff;
    background-image: none;
}

.btn-default:hover {
    background: #fff;
    color: #236db8;
}

.btn-default.active:hover,
.btn-default.active,
.btn-default:active,
.btn-default:active:focus {
    background-color: #fff;
    color: #236db8;
}

.input-group {
    width: 208px;
    background-color: #fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#id_input,
#find_btn {
    text-shadow: none;
    border: 0 none;
    border-radius: 0;
    outline: 0 none;
    box-shadow: none;
    background-color: #fff;
    background-image: none;
}

#find_btn {
    padding-top: 8px;
}
